@model IEnumerable<SanPham>
<div class="container">
<h1 class="text-align-center">SẢN PHẨM NỔI BẬT</h1>
<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-3">
			<div class="card" style="width: 18rem;">
			<img src="@item.ImageUrl" class="card-img-top" alt="@item.Name"/>
				<div class="card-body">
					<h5 class="card-title">@item.Name</h5>
					<h6 class="card-title">@item.price</h6>
					<p class="card-text">@item.Description</p>
					<div class="row">
						<div class="col-6">
							<a href="#" class="n=btn btn-primary">Thêm vào &#10084</a>
						</div>
						<div class="col-6">
							<a href="#" class="n=btn btn-danger">Mua hàng</a>
						</div>
					</div>
				</div>

			</div>

		</div>
	}
</div>
</div>